<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> Codelex Tinder!</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
</head>
<body class="bg-gradient-to-r from-yellow-100 via-red-100 to-pink-100">
<div id="header">
    {% include('header.twig') %}
</div>
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
</body>
</html>